<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="icon" type="image/png" href="static/img/icon.png">
    <link rel="stylesheet" href="static/style/homepage.css">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>    
        <greenlive>
            <a href="#"><div style="color: #00764C;display:inline;">GREEN</div>TRAVEL</a>
        </greenlive>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <lienhe>
                LIÊN HỆ <b>0388029188</b>
            </lienhe>
            <li class="nut-dang-nhap">
                <a href="login">
                    <button class=”myButton2”>ĐĂNG NHẬP</button>
                </a>
            </li>
            <li class="nut-dang-ki">
                <a href="register">
                    <button class=”myButton”>ĐĂNG KÍ</button>
                </a>
            </li>
        </ul>
    </header>
    <div class="container">
        <div class="background-gioithieu">
            <div class="gioithieu">
                <br>
                <br>
                <h1>
                    GIỚI THIỆU VỀ <div style="color: #00764C;display:inline;">GREEN</div>TRAVEL
                </h1>
                <h3> <br>
                    Green Travel là một dự án với mục tiêu là giảm phát thải khí carbon và bảo vệ môi trường bằng cách khuyến khích mọi người ở Việt Nam chuyển sang sử dụng phương tiện công cộng. Việc thúc đẩy sự chuyển đổi từ việc sử dụng xe cá nhân sang việc sử dụng các phương tiện công cộng không chỉ giúp giảm thiểu lượng khí thải mà còn tạo ra một môi trường sống lành mạnh và bền vững cho cộng đồng. Hy vọng rằng trong tương lai Green Travel sẽ trở thành một phần không thể thiếu trong hành trình chung của chúng ta về một môi trường sống bền vững và xanh sạch.
                </h3>
                <br>
                <br>
            </div>
        </div>
        <article>
            <h3>
                Sứ mệnh <br>
            </h3>
            <div class="rec">
                <img src="static/img/Picture1.png" alt="">
                <div class="content">
                    Green Travel là một dự án của nhóm học sinh cấp 3 với mong muốn giảm phát thải khí carbon gây ra cho môi trường bằng cách khuyến khích mọi người dân Việt Nam sử dụng phương tiện công cộng. Sứ mệnh mà Green Travel hướng đến chính là tạo ra một thế giới hạnh phúc, góp phần vào việc xây dựng một tương lai bền vững.
                </div>
            </div>
        </article>
        <br>
        <div class="CD">
            <ul><a href="https://www.facebook.com/groups/218015441196731">Cộng đồng</a></ul>
        </div>
        <br><br><br><br>
    </div>              
    <footer>
        <div class="info">
            <div class="contact_us">
                <h1>
                    <b>Contact Us</b>
                </h1> 
                <h3>
                    Email: greenlive@gmail.com <br> SĐT: 0388029188 </br>
                </h3>
            </div>
            <div class="SM">
                <h1>
                    <b>Social media</b>
                </h1>
                <div class="home__social">
                    <a href="" target="_blank" class="home__social-icon"><i
                            class="fab fa-facebook"></i></a>
                    <a href="" target="_blank" class="home__social-icon"><i
                            class="fab fa-instagram"></i></a>
                    <a href="" target="_blank" class="home__social-icon"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="end">
            <br>
            Copyright @ GreenLive2023
        </div>
    </footer>                                                       
</body>
</html>